/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    scroll-behavior: smooth;
    font-family: var(--ff-Primary);
    transition: ease-in-out 200ms;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

*,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}

body {
    background-color: #F2AA4CFF;

    font-family: "poppins";
}

/* Index Content */
.Wrapper {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: hsl(206, 100%, 71%);
    height: 100vh;

}

.container {

    display: flex;
    padding: 6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 10%;


}


.Get-Started {

    text-decoration: none;
    transition: ease-in-out 600ms;
    margin: 10px;
    background: transparent;
    border: 1px solid rgb(15, 15, 15);
    color: rgb(15, 15, 15);
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.Get-Started:hover {
    color: grey;
    background-color: white;
}

.Get-Started::before {
    content: "";

    width: 100%;
    height: 100%;
    background-color: white;

    transform: translateX(-100%);
    transition: ease-in-out .3s;
    z-index: -1;
}

.Get-Started:hover::before {
    transform: translateX(0);

}

.Heading {
    font-size: 5rem;
    font-weight: 200;
}

.content {
    padding: 2rem;
    font-size: 1.5rem;

}

/* Notes CONTENT */

dialog::backdrop {
    background-color: rgba(63, 62, 62, 0.6);
}

.modal {
    background-color: #101820FF;
    color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.Button-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.Got-it {

    margin: 10px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.Question-Mark {
    display: flex;
    justify-content: end;
    margin-right: 2rem;
}

.Confused-Guy {
    aspect-ratio: 1;
    width: 6rem;
    cursor: pointer;

}

.Pending-Notes-Link-modal {
    border-bottom: inset;
    padding: 0.2em;
    list-style: circle;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 300;
}

.Primary-Header {
    display: flex;
    justify-content: space-between;

    background-color: #101820FF;
    color: white;
}

.Primary-Header h1 {
    padding: 1rem;
}

.Primary-Nav-Link {
    display: inline;
    aspect-ratio: 1;
    width: 4rem;
    padding: 0.6rem;
    flex-direction: row-reverse;
    cursor: pointer;
}





.Primary-Nav-Link-None {
    display: inline;
    aspect-ratio: 1;
    width: 4rem;
    padding: 10px;
    cursor: pointer;
}

.Main-content {

    font-weight: 200;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    color: black;
    margin-inline: 10%;
    /* border:1px solid black; */

}


.Pendin-Notes {
    display: flex;
    width: 50%;
    border-right: inset;
    flex-direction: column;

}

.Pending-Notes-Link {
    margin-inline: 1rem;
    border-bottom: inset;
    padding: 0.2em;
    list-style: decimal;
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
}

.Pending-Notes-Link-Delete {
    display: inline-flex;
    aspect-ratio: 1;
    width: 2rem;
    margin-left: 1rem;
    cursor: pointer;

}

.Pending-Notes-Link-Delete:hover {

    transform: translateX(0);
    transition: transform 0.9s linear;
}

.Pending-Notes-Link-Delete:hover {
    transform: translateX(-8px);
}

.Pending-Notes-Link-Delete:hover {
    transform: translateX(8px);
}



.Add-Note-Form {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin-inline: 10%;

}

.Add-Note-Form-Input-Text {
    width: 100%;
    height: fit-content;
    background: transparent;
    border: 2px solid black;
    border-radius: 10px 10px 90px;
    font-size: 1rem;
    font-weight: 300;

}

.Add-Note-Form-Input-Text-Text {
    width: 60%;
    height: fit-content;
    background: transparent;
    border: 2px solid black;
    border-radius: 10px 10px 90px;
    font-size: 1.5rem;
    font-weight: 300;

}

h1,
h2,
h3 {
    font-weight: 300;
    font-size: 2rem;

}


@media screen and (max-width: 800px) {

    html {
        font-size: 90%;
    }

    .Main-content {
        margin-inline: 2%;
        border: 1px solid black;
        border-radius: 10px;
    }

    .Pending-Notes-Link-Delete {
        width: 1.3rem;
        display: block;
    }

    .Notes-Title {
        margin: 1rem;
        padding: 0.8rem;
    }

    .Notes-Text {
        padding: 0.8rem;

    }
}